aiofiles==0.5.0
aiohttp[speedups]==3.6.2
aiographql-client==1.0.1
colorlog==4.1.0
Flask==1.1.2
graphql-core==3.1.1
jwcrypto==0.7
python-dotenv==0.13.0
python-multipart==0.0.5
requests==2.23.0
starlette==0.13.4
uvicorn==0.11.7
