{% extends "base.html" %}
{% block body %}
    <a href="{{ url_for('signout') }}">Log out</a>
    <h2>Repositories for {{ installation.account.login }}</h2>
    {% if repositories %}
        <h3>Branch Protection</h3>
        <table style="border: 1px solid black;border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="border: 1px solid black;border-collapse: collapse;">Repository</th>
                    <th style="border: 1px solid black;border-collapse: collapse;">Who Can Push?</th>
                    <th style="border: 1px solid black;border-collapse: collapse;">Pushes Restricted?</th>
                </tr>
            </thead>
            <tbody>
                {% for repository in repositories %}
                    <tr>
                        <td style="border: 1px solid black;"><a href="{{ repository.url }}" target="_blank">{{ repository.nameWithOwner }}</a></td>
                        <td style="border: 1px solid black;">
                            {% if repository.branchProtectionRules.nodes[0] %}
                                {% for user in repository.branchProtectionRules.nodes[0].pushAllowances.nodes %}
                                    {{ user.actor.name }} ({{ user.actor.login }}){% if not loop.last %},{% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td style="border: 1px solid black;">
                            {% if repository.branchProtectionRules.nodes[0].restrictsPushes %}
                                Restricted
                            {% else %}
                                Not Restricted
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('take_the_stick', installation_id=installation.id) }}" method="post">
            <button type="submit" name="action" value="take-the-stick" >Take The Stick</button>
            <button type="submit" name="action" value="return-the-stick">Return The Stick</button>
        </form>
        <h3>Pull Requests</h3>
        {% if grouped_pull_requests %}
            <table>
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        {% for repository2 in repositories %}
                            <td style="border: 1px solid black;">{{ repository2.nameWithOwner }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for jira_key, pull_requests in grouped_pull_requests.items() %}
                        <tr>
                            <td style="border: 1px solid black;">
                                {{ jira_key }}<br/>
                                <a href="{{ url_for('merge', installation_id=installation.id, jira_key=jira_key) }}">Merge</a>
                            </td>
                            {% for repository2 in repositories %}
                                {% set pull_request = pull_requests[repository2.nameWithOwner] %}
                                <td style="border: 1px solid black;">
                                    {% if pull_request %}
                                        <a href="{{ pull_request.url }}" target="_blank">{{ pull_request.title }}</a>
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No pull requests open
        {% endif %}

    {% else %}
        <b>No repos available</b>
    {% endif %}
{% endblock %}
